body{
    font-family: 'Fredoka', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #0ce3d5, #0e85ca);
    background-repeat: no-repeat;
    color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.weatherData{
    display: none;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
}
#searchAgain{
    width: 100px;
    height: 100px;
}

.expandedWeatherData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.searchLocation{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton{
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    cursor: pointer;
}
#locationInput{
    width: 80vw;
    max-width: 800px;
    height: 50px;
    border: none;
    border-radius: 100px;
    border-bottom: 1px solid darkcyan;
    font-size: 35px;
    outline: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Fredoka';
}

#locationName{
    font-size: 12vw;
    cursor: pointer;
}


#hwLogo{
    width: 100px;
    height: 100px;
}
.currentWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currentWeatherIcon{
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    margin: 0;
    padding: 0;
}
#currentWeatherCondition{
    margin: 0;
}
#currentTemperature{
    margin: 0;
    font-size: 80px;
    font-weight: 300;
}

#upArrow{
    display: flex;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    bottom: 0;
    transform: rotate(180deg);
}
/* #downArrow{
    display: flex;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    bottom: 0;
    transform: rotate(0deg);
} */
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.moreWeatherData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 2.5vw;
}
.forecastSection, .forecastSectionHalf{
    height: 30vh;
    margin-top: 2.5vh;
    background-color: rgba(0,0,0, .5);
    color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forecastSectionSplit{
    display: flex;
    justify-content: space-between;
}
.forecastSectionHalf{
    height: 20vh;
    width: 45vw;  
}
.moreWeatherHeading{
    margin: 0;
    font-weight: 400;
}
.scrollingWeatherData{
    height: 20vh;
    width: 95vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    margin-top: 2.5vh;
}
.anHourofWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(255,255,255, .1);
    min-width: 25vw;
}
.anHourHeading{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 20px;
}
.anHourImg{
    height: 25vw;
    width: 25vw;
    filter: invert(1);
    margin-top: 1vh;
}
.dropChance{
    position: relative;
    text-align: center;
    color: white;
}
.rainPercentageText{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weatherNumeric{
    font-size: 10vw;
    margin: 0;
    margin-top: 2.5vh;
}



/* .weatherSection{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, .5);
    min-height: 30vh;
    border-radius: 50px;
    margin: 2.5vh;
    text-align: center;
    font-size: 20px;
} */
/* .hourlyWeather{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 30vh;
}
.anHourofWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(255,255,255, .1);
    color: white;
    font-size: 25px;
    text-align: center;
}
.anHourofWeather>*{
    width: 33vw;
}
.anHourofWeather>img{
    height: 10vh;
    width: 10vh;
}

.rainChance{
    
}
.moreWeather{
    display: flex;
    justify-content: space-evenly;
    
}
.moreWeatherSection{
    background-color: rgba(0,0,0, .5);
    min-height: 25vh;
    width: 47.5vw;
    border-radius: 50px;
    margin: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
} */
/* #uvIndex,  #humidity{
    font-size: 50px;
} */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }
    

