body{
    font-family: 'Fredoka', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #0ce3d5, #0e85ca);
    background-repeat: no-repeat;
    color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.weatherData{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
}
#searchAgain{
    width: 100px;
    height: 100px;
}

.expandedWeatherData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.searchLocation{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton{
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    cursor: pointer;
}
#locationInput{
    width: 80vw;
    max-width: 800px;
    height: 50px;
    border: none;
    border-radius: 100px;
    border-bottom: 1px solid darkcyan;
    font-size: 35px;
    outline: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Fredoka';
}

#locationName{
    font-size: 12vw;
    cursor: pointer;
}


#hwLogo{
    width: 100px;
    height: 100px;
}
.currentWeather{
    display: flex;
    justify-content: center;
}
#currentWeatherIcon{
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
}
#currentTemperature{
    display: flex;
    font-size: 80px;
    font-weight: 300;
}

#upArrow{
    display: flex;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    bottom: 0;
    
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.hourlyWeather{
    background-color: rgba(0,0,0, .5);
}
.anHourofWeather{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    color: white;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }
    

