<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Weather</title>
    <link rel="icon" type="image/x-icon" href="public/images/happyWeatherLogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/normalize.css">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="/services/weatherService.js" type="text/javascript"></script> -->
</head>
<body>

    <div id="startPage" class="container-xl m-0 h-screen w-full flex flex-col items-center justify-center">
        <div class="flex flex-col md:flex-row justify-center items-center">
            <h1 class="md:text-6xl text-5xl text-center font-bold">HAPPY WEATHER</h1>
            <img class="w-28" src="public/images/happyWeatherLogo.png">
        </div>
        <form id="searchBar" action="" method="" class="w-3/4 md:w-1/2 flex m-6">
            <input id="searchLocation" type="text" name="location" placeholder="City, State or 5 Digit Zip Code" class="w-full h-12 p-2 border border-r-0 rounded-full rounded-r-none bg-transparent placeholder-black" style="background: transparent;">
            <button id="searchButton" type="submit" class="border .bg-transparent py-2 px-4 rounded-full rounded-l-none">search</button>
        </form>
        <p id="errorP"></p>
    </div>

    <div id="frontPage" class="container-xl m-0 h-screen w-full m-0 flex flex-col items-center justify-center hidden">
        <img id="logoButton" class="w-14" src="public/images/happyWeatherLogo.png">
        <h1 id="locationName" class="text-4xl"></h1>
        <p id="currentTemperature" class="text-6xl p-4"></p>
        <p id="currentWeatherCondition" class="text-2xl"></p>
        <img id="currentWeatherIcon" class="md:max-w-lg" src=""> 
        <svg id="downArrow" class="w-8 h-8 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
        </svg>
    </div>

<div id="secondPage" class="container-xl h-screen p-10 grid grid-cols-4 md:grid-rows-3 grid-rows-6 gap-4 hidden">
    <!-- HOURLY TEMP -->
    <div class="border col-span-4 row-span-2 md:row-span-1 rounded-md bg-white bg-opacity-10">
        <h1 class="md:text-xl text-md text-center bg-white bg-opacity-20">Hourly Forecast</h1>
        <div id="hourlyTemp" class="container flex items-center overflow-x-scroll h-4/5"></div>
    </div>
    <!-- 3 DAY FORECAST -->
    <div class="border md:col-span-2 col-span-4 row-span-2 row-start-3 md:row-start-2 rounded-md bg-white bg-opacity-10">
        <h1 class="md:text-xl text-md text-center bg-white bg-opacity-20">3 Day Forecast</h1>
        <div id="threeDayForecast" class="container h-5/6 flex flex-col justify-evenly">
            
        </div>
    </div>
    <!-- USER 1 -->
    
    <div class="border md:col-start-3 md:row-start-2 md:col-span-1 col-span-2 row-start-5 flex flex-col justify-center rounded-md bg-white bg-opacity-20">
        <h1 class="md:text-xl text-md text-center pb-2">Feels Like</h1>
        <p id="moreOne" class="text-center md:text-4xl text-2xl"></p>
    </div>
    <!-- USER 2 -->
    <div class="border md:col-start-4 md:row-start-2 md:col-span-1 col-span-2 col-start-3 row-start-5 flex flex-col justify-center rounded-md bg-white bg-opacity-20">
        <h1 class="md:text-xl text-md text-center pb-2">UV-Index</h1>
        <p id="moreTwo" class="text-center md:text-4xl text-2xl"></p>
    </div>
    <!-- USER 3 -->
    <div class="border md:col-start-3 md:row-start-3 md:col-span-1 col-span-2 row-start-6 flex flex-col justify-center rounded-md bg-white bg-opacity-20">
        <h1 class="md:text-xl text-md text-center pb-2">Rain Chance</h1>
        <p id="moreThree" class="text-center md:text-4xl text-2xl"></p>
    </div>
    <!-- USER 4 -->
    <div class="border md:col-start-4 md:row-start-3 md:col-span-1 col-span-2 col-start-3 row-start-6 flex flex-col justify-center rounded-md bg-white bg-opacity-20">
        <h1 class="md:text-xl text-md text-center pb-2">Humidity</h1>
        <p id="moreFour" class="text-center md:text-4xl text-2xl"></p>
    </div>
    
    
</div>

    
    <script src="public/js/main.js"></script>
  
    
</body>
</html>