body{
    font-family: 'Fredoka', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #0ce3d5, #0e85ca);
    background-repeat: no-repeat;
    color: black;
}
#hourlyTemp, #threeDayForecast{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#hourlyTemp::-webkit-scrollbar, #threeDayForecast::-webkit-scrollbar {
    display: none;
}
#downArrow{
    cursor: pointer;
}

    
  